<!DOCTYPE html>
<html>
  <head>
    <title>Capítulo 3</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <% if(file && file.data && file.data.trim()!==''){%>
    <h1>Leitura de arquivo assíncrona</h1>
    <span><%= file.data%></span>
    <%} else {%>
    <h1>Nenhum arquivo a ser lido assíncronamente de início...</h1>
    <%}%> <% if(fileArray && fileArray.length>0){%>
    <h1>Leitura de arquivos com async</h1>
    <%fileArray.forEach(item => {%>
    <p><%= item%></p>
    <%})%> <%} else {%> <%if(error){%>
    <h2>Problemas na leitura do arquivo-> <%= error %></h2>
    <%} else{%>
    <h1>Nenhum arquivo a ser lido com módulo async de início...</h1>
    <%}%> <%}%>
  </body>
</html>
